$corFundo: #040714; //variável para cor de fundo.
$corTextoPrincipal: #c0c0c0; //Variável para textos de alta relevância.
$corTextoSecundario: #f9f9f9; //Variável para textos de menor relevãncia.

$corFundoBotaoPrimario: #6421ff; //Cor do botão principal.
$corFundoBotaoSecundario: #0063e5; //Cor do botão secundario.
$corFundoBotaoDark: #000;